/* src/styles/Shop.css */
.search-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4a90e2; /* Màu nền xanh dương */
  color: white; /* Màu chữ trắng */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-button:hover {
  background-color: #357abd; /* Màu nền xanh dương đậm hơn khi hover */
  transform: scale(1.05); /* Tăng kích thước khi hover */
}

.search-button:focus {
  outline: none; /* Bỏ viền khi nút được focus */
}

.search-button:active {
  background-color: #2a6aab; /* Màu nền khi nhấn nút */
}
